.curator {
    &__wrapper {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;

        &_img {}

        &_about {
            padding-left: 135px;

            &-job {
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: #787A80;
                margin-top: -14px;
            }

            &-items {
                font-size: 16px;
                color: #424551;
                font-weight: 700;
                line-height: 25.6px;
                text-align: left;
                margin: 32px 0;

                li {
                    list-style-type: none;
                    padding-left: 20px;
                    position: relative;
                    color: #424551;

                    &:before {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        left: 0px;
                        top: 5px;

                    }

                    &:nth-child(1)::before {
                        background: url("../icons/stars.png") center (center/cover) no-repeat;
                    }

                    &:nth-child(2)::before {
                        background: url("../icons/vector.png") center (center/cover) no-repeat;
                    }

                    &:nth-child(3)::before {
                        background: url("../icons/persons.png") center (center/cover) no-repeat;
                    }
                }
            }

            &-descr {
                font-size: 16px;
                color: #424551;
                font-weight: 400;
                line-height: 25.6px;
                text-align: left;
            }
        }
    }
}