.meet {
    padding: 130px 0 100px 0;
    background-color: #F4F5F6;

    &__carousel {
        width: 1230px;
        max-width: 100%;
        margin: 0 auto;
        position: relative;

        &-item {
            width: 214px;
            display: flex;
            justify-content: center;
            align-items: center;

            &-name {
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
                color: #424551;
                text-align: center;
                padding-top: 16px;
                width: 285px;
            }

            &-prof {
                font-size: 16px;
                font-weight: 400;
                line-height: 25.6px;
                color: #787A80;
                text-align: center;
                width: 285px;
            }

            &-img {
                width: 285px;
                height: 340px;
                background-color: #FFCF2D;
                display: flex;
                justify-content: center;
                align-items: end;

                &:hover {
                    background-color: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        border: none;
        width: 24px;
        position: absolute;
        background-color: transparent;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: transparent;
        line-height: 48px;

        &:hover {
            background-color: #FF3F3A;
            color: #fff;
        }

        img {
            width: 24px;
            display: flex;
            margin: 0 auto;
        }
    }

    .slick-next {
        right: 30px;
        top: -75px;

    }

    .slick-prev {
        top: -75px;
        right: 80px;
    }
}

.meet {
    &__testimonials_carousel {
        width: 1020px;
        background-color: #fff;
        position: relative;
        margin: 0 auto;
        position: relative;

        &-items {
            padding: 64px 105px;


            &-item {
                width: 810px;
                height: 216px;
                margin: 0 auto;
                position: relative;
                padding-left: 30px;

                &:before {
                    content: '';
                    display: block;
                    background: url(../img/braces.png) center (center/cover) no-repeat;
                    width: 28px;
                    height: 20px;
                    position: absolute;
                    left: -10px;
                }
            }
        }

        &-text {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            color: #424551;
            text-align: left;
            margin: 0 auto;


        }

        &-block {
            display: flex;
            padding-top: 24px;


            &-descr {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-self: center;
                padding-left: 20px;
            }

            &-name {
                font-size: 16px;
                font-weight: 700;
                line-height: 25.6px;
                text-align: left;
                color: #1E212C;
            }

            &-course {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                text-align: left;
                color: #787A80;
            }
        }

        .slick-prev {
            left: -80px;
            top: 50%;
            transform: translateY(-50%);
        }

        .slick-next {
            right: -80px;
            top: 50%;
            transform: translateY(-50%);
        }

    }

    .title-mini,
    h2 {
        text-align: center;
    }

    .title-mini {
        margin-top: 170px;
    }



    &:before {
        width: 30px;
        border: 1px solid #424551;
    }

}

.slick-dots {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50%;
    transform: translateX(50%);

    li button {
        width: 30px;
        font-size: 0;
        margin: 0 5px;
        border: solid 1px #B3B7BC;

        &:hover {
            border-color: #424551;
        }

        &:active {
            border-color: #424551;
        }
    }

    .slick-active button {
        border: 1px solid #424551;
    }
}