.title-mini {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    color: #1E212C;
    margin: 20px 0;
    text-transform: uppercase;
}

h2 {
    font-size: 46px;
    font-weight: 900;
    line-height: 59.8px;
    text-align: left;
    color: #1E212C;
    margin-bottom: 30px;
}

h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 41.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}